extends layout

block content
	nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
		a.navbar-brand(href='#' id="title") Eat with Friends
		form.navbar-form.navbar-left(role='search' class="pull-right")
			div.form-group
				input.form-control(type='text', placeholder='Search' id="search-box")
			div.btn.btn-default(type='submit' id="submit-button") Submit




	div(class="container-fluid")

		//- form(class="form-horizontal" role="form")
			
		//- 	div(class="form-group")
		//- 		label(for="inputMeetingID" class="col-sm-2 control-label") Meeting ID
		//- 		div(class="col-sm-10")
		//- 			input(type="text" class="form-control" id="inputMeetingID" placeholder="Meeting ID")

		//- 		label(for="inputSessionID" class="col-sm-2 control-label") Session ID
		//- 		div(class="col-sm-10")
		//- 			input(type="text" class="form-control" id="inputSessionID" placeholder="Session ID")



		div(id="places-area")


		div.footer
				a(href="https://github.com/mohamed-ahmed/html5-api-mate" id='footer1') On Github | 
				span
					a(href="mailto:mohamed.ahmed@live.ca", id="footer2") Mohamed Ahmed
