extends layout

block content
	nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
		a.navbar-brand(href='#' id="title") Eat with Friends
		form.navbar-form.navbar-left(class="pull-right" action="#")
			div.form-group
				input.form-control(action="#" type='text', placeholder='Search' id="search-box" onkeydown="if (event.keyCode == 13) document.getElementById('submit-button').click()")
			div.btn.btn-default( id="submit-button") Submit




	div(class="container-fluid")

		h2(id="description-text") Search, select, invite.
		h3 Click on a calendar icon to add that restaurant to your calendar.

		//- form(class="form-horizontal" role="form")
			
		//- 	div(class="form-group")
		//- 		label(for="inputMeetingID" class="col-sm-2 control-label") Meeting ID
		//- 		div(class="col-sm-10")
		//- 			input(type="text" class="form-control" id="inputMeetingID" placeholder="Meeting ID")

		//- 		label(for="inputSessionID" class="col-sm-2 control-label") Session ID
		//- 		div(class="col-sm-10")
		//- 			input(type="text" class="form-control" id="inputSessionID" placeholder="Session ID")



		div(id="places-area")


		div.footer
				a(href="https://github.com/mohamed-ahmed/html5-api-mate" id='footer1') On Github | 
				span
					a(href="mailto:mohamed.ahmed@live.ca", id="footer2") Mohamed Ahmed
