doctype html
html
	head
		title Eat with Friends
		//- import css stylesheets
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")

		//- import jquery
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
		script(src='http://jquery-json.googlecode.com/files/jquery.json-2.2.min.js')
		
		//- import bootstrap js
		script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")



		//- load logic

		script(src="javascripts/Utils.js")
		script(src="javascripts/main.js")




	body
		block content